@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
a {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  flex-grow: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #F2F2F2;

}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  flex-grow: 1;
  min-height: 100%;

}

/* убираем подчёркивание всех ссылок */
a {
  text-decoration: none;
  cursor: pointer;
}


button {
  cursor: pointer;
  font-family: "PT Sans";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-grow: 0;
  /* width: 100%; */
  /* margin: 0 auto; */
  padding: 0 70px;

}

/* .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 70px;
} */

/* .nav-wrapper {
  display: block;
  position: relative;
  align-self: flex-start;
  width: 140px;
  margin: 0;
  padding: 0;
} */

.navigation_logo {
  display: block;
  position: absolute;
  width: 140px;
  /* top: 0;
  left: 70px; */
}

/* .navigation-logo img {
  display: block;
} */


.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 0 0;
  padding: 0 0 0 168px;
}

.navigation_item {
  list-style: none;
  /* padding: 20px 16px; */
}

.navigation-links {
  flex-wrap: wrap;
  margin-right: auto;
}

.navigation-links .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-user .navigation_item {
  padding: 22px 12px;
}

.navigation-links .navigation_link {
  margin: 0;
  padding: 20px 16px;
}


.navigation_link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: inherit;
  text-decoration: none;
}

.want_here {
  text-align: center;
  background: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
}




.hero {
  /* display: flex;
  justify-content: center;
  color: #000000;
  background-color: #F2F2F2;
  background-image: url(../images/rock-sedona.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover; */
  background-image: url(../images/rock-sedona.jpg);
  /* background-position: left bottom, left top; */
  background-repeat: no-repeat;
  /* background-color: #F2F2F2; */
  background-size: 100% auto, cover;
}

.logo {
  padding: 51px 371px 82px 371px;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.description-header {
  padding: 69px 274px 90px;

}



.description-interested,
.newsletter {
  text-align: center;
}

.newsletter {
  margin: 0;
  padding: 0;
}

.subscribe-items {
  width: 684px;
  padding: 96px 258px 104px 258px;
  margin: 0;
}

.description-header-header {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.services-title-welcome {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 347.5px;
  padding-right: 347.5px;
  padding-top: 64px;
}

.description-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 347.5px;
  padding-right: 347.5px;
}

.description-main,
.services-top p {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.description-text {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.find-hotels {
  display: block;
  box-sizing: border-box;
  max-width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  border-radius: 4px;
  text-align: center;
  background: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.description-main {
  margin: 0;
  padding: 0;
}

.description-interested {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-item {
  display: flex;
  flex-grow: 1;
  padding: 0;
  width: 400px;
}

.top-article {
  display: flex;
  flex-wrap: nowrap;
  background-color: #82B3D3;
  color: white;
  width: 100%;
}

.top-article--reverse {
  flex-direction: row-reverse;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;

}

/* .services-list {
  text-align: center;
} */



.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 96px;

}

.services-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 81px 85px;
  width: 230px;
}

/* .services-title {
  padding-top: 183px;
} */

/* .services-description {
  padding: 0 85px;
  padding-top: 30px;
  padding-bottom: 81px;
} */

.advantages-title,
.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title-font {
  width: 100%;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description,
.services-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}



.newsletter-background {
  background-image: url(../images/newsletter-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 96px;
  /* flex-grow: 0;
  flex-shrink: 0; */
}


.footer-social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* width: 1200px; */
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  min-height: 40px;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  padding: 20px;
}

.contacts-phone {
  display: flex;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.author-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.page-footer-title-title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.field {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  min-width: 452px;
  padding: 14px 20px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.newsletter-background-catalog {
  background-image: none;
}

.page-footer-title-catalog {
  color: #333333;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

}

.page-footer-catalog {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;

}


.blue-button {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  min-width: 232px;
  color: #FFFFFF;
  padding: 8px 25px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  border: none;

}

.newsletter-button {
  font-family: inherit;
  background-color: rgba(130, 179, 211, 1);
}

.vkontakte {
  background-image: url(../images/vkontakte.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.telegram {
  background-image: url(../images/telegram.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.youtube {
  background-image: url(../images/youtube.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-style: normal;
}

.side-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: #FFFFFF; */
  /* background: #82B3D3; */
  padding: 90px 85px;
}

.side-font {
  /* width: 100%; */
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}




/* Стилизация второй страницы */

.main-inner {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.inner-header-title {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 8px;
}

.inner-header {
  display: flex;
  justify-content: center;
  width: 1200px;
  background-image: url(../images/catalog-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #b8c5ce;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  margin: 0;
  box-sizing: border-box;
}

.catalog-filter-area {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0;
  padding: 0;
}

.main-catalog-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 12px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

/* Фильтры */

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-filter-group,
.price-range,
.apply-reset {
  border: none;
}

/* .catalog-filter-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 151px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
} */


/* .catalog-filter-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
} */

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.price-range {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.price-range-range-range {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.price-range-range {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.price-min,
.price-max {
  display: flex;
  position: absolute;
  top: 12px;
  right: 20px;
  line-height: 24px;
}

.price-min-input,
.price-max-input {
  display: block;
  font-family: inherit;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 20px;
  border: none;
  outline: none;
  background: rgb(242, 242, 242);
}

.price-selection-left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.price-selection-right {
  border-radius: 0 4px 4px 0;
}

.price-range-bar {
  display: block;
  width: 287px;
  height: 20px;
}

.apply-reset {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 191px;
  padding: 0;
  padding-top: 56px;
  margin: 0;
  margin-left: 70px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 60px 70px;
  box-sizing: border-box;
}

.catalog {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-title {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-wrapper-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.preview-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 8px;
  margin: 0;
  padding: 0;
}

.preview-item {
  list-style: none;
  width: 48px;
  height: 48px;
}

.preview-item-link {
  display: block;
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
}

.icon-card {
  background-image: url(../images/icon-card.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-once {
  background-image: url(../images/icon-once.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-list {
  background-image: url(../images/icon-list.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* пробую гриды */

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

}

.hotels-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
}

.hotels-card-link {
  grid-column: 1/-1;
  text-decoration: none;
}



.catalog-filter-title,
.price-range-title {
  display: block;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  text-align: left;
  /* margin-right: 70px; */
}

.control {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.reset-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: none;
}

.catalog-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotels-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-card-description {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotels-card-price {
  text-align: right;
}

.button-decoration {
  text-decoration: none;
  color: white;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #756157;
  font-family: "PT Sans";
  border: none;
  border-radius: 4px;
}

.button-decoration-blue {
  background: #82B3D3;
  padding: 8px 20px;
}

.button-decoration-green {
  background: #7DB54F;
  padding: 8px 18px;
}

.hotels-card-rating {
  background: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 22px 8px 23px;
}

/* rating stars */

.four-stars {
  background-image: url(../images/star.svg),
    url(../images/star.svg),
    url(../images/star.svg),
    url(../images/star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%, 72px 50%;
}

.three-stars {
  background-image: url(../images/star.svg),
    url(../images/star.svg),
    url(../images/star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%;
}

.two-stars {
  background-image: url(../images/star.svg),
    url(../images/star.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 50%, 24px 50%;
}

/* pagination */

.pagination {
  display: flex;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background: #82B3D3;
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

/* .pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  background: #82B3D3;
  padding: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
} */

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}
